extends layout

block content
  .divider5
  .scaledpadded
    h1.center UCSB's leading resource
    h3.center for data analysis, machine learning, and more
  .banner
    .filter
  .flex
    article.left-border
      p Data Science UCSB is a student run club centered around developing career paths in the field of data science. Our organization teaches members how to use programs like R, Python, and SQL, which students then utilize in their own group-led projects. Apart from these hands-on activities, Data Science UCSB also hosts key speakers from data-centered companies in the industry. Our organization is centered around a collaborative community of self-driven students who strive to further their knowledge in the realm of data science.  
    #stats.vcentercontainer
      p #[span 52] projects published
      p #[span 243] active members
  .divider5
  h2.center What we do
  #tab-carousel
    ul
      li(:class="{ active: show.active === item }" v-for="item in whatwedos")
        button(@click="show.active = item") {{ item.name }}
        .arrow-up.center(v-show="show.active === item")
    .info.flexcontainer.horizontal.spaced
      p {{ show.active.description }}
      img(:src="show.active.image")
  article.fullwidth
    h2 FAQ
      ul#faq
        each faq in faqs
          li
            h3= faq.question
            p= faq.answer
  h2.center Contact Us
  .divider5
  .flexcontainer.spaced.wrap
    .contact
      h4.center Email
      p.email #[a(target="_blank" href="mailto:datascience.ucsb@gmail.com") datascience.ucsb@gmail.com]
    .contact
      h4.center Meetings
      p Drop by one of our meetings to talk to us in person!  Our club meets every Tuesday from 7:00 p.m. to 9:00 p.m. in the #[a(href='https://map.ucsb.edu/details?fid=106&type=1') DAHC].
  .divider10

block scripts
  script(src="/javascripts/about.js")
  script.
    function getPosition(el) {
      var xPos = 0;
      var yPos = 0;
      while (el) {
        if (el.tagName == "BODY") {
          // deal with browser quirks with body/window/document and page scroll
          var xScroll = el.scrollLeft || document.documentElement.scrollLeft;
          var yScroll = el.scrollTop || document.documentElement.scrollTop;
          xPos += (el.offsetLeft - xScroll + el.clientLeft);
          yPos += (el.offsetTop - yScroll + el.clientTop);
        } else {
          // for all other non-BODY elements
          xPos += (el.offsetLeft - el.scrollLeft + el.clientLeft);
          yPos += (el.offsetTop - el.scrollTop + el.clientTop);
        }
        el = el.offsetParent;
      }
      return {
        x: xPos,
        y: yPos
      };
    }
    app.trackPos();
    window.addEventListener("scroll", app.trackPos, false);
    window.addEventListener("resize", app.trackPos, false);
block styles
  link(rel='stylesheet', href='/stylesheets/about.css')
  
