extends layout

block content
  .divider5
  .scaledpadded
    h1.center UCSB's leading resource
    h3.center for data analysis, machine learning, and more
  .banner
    .filter
  .flex
    article
      p Data Science at UCSB is a student run club centered around developing career paths in the field of data science. Our organization teaches members how to use programs like R, Python, and Java, which students then utilize in their own group-led projects. Apart from these hands-on activities, Data Science at UCSB also hosts key speakers from data-centered companies in the industry. Our organization is centered around a collaborative community of self-driven students who strive to further their knowledge in the realm of data science.  
    #stats.vcentercontainer
      p #[img(src="images/membership.svg")] #[span 52] projects published
      p #[img(src="images/publish.svg")] #[span 243] active members
  .divider5
  h2.center What we do
  #tab-carousel
    ul
      li Projects
        p A blurb about our projects
      li Workshops
        p A blurb about our workshops
      li Data Talks
        p A blurb about our data talks
      li Networking Events
        p A blurb about our networking events
      li Hackathons
        p A blurb about our hackathons
      li Consulting
        p A blurb about our consulting

block scripts
  script(src="/javascripts/about.js")
  script.
    function getPosition(el) {
      var xPos = 0;
      var yPos = 0;
      while (el) {
        if (el.tagName == "BODY") {
          // deal with browser quirks with body/window/document and page scroll
          var xScroll = el.scrollLeft || document.documentElement.scrollLeft;
          var yScroll = el.scrollTop || document.documentElement.scrollTop;
          xPos += (el.offsetLeft - xScroll + el.clientLeft);
          yPos += (el.offsetTop - yScroll + el.clientTop);
        } else {
          // for all other non-BODY elements
          xPos += (el.offsetLeft - el.scrollLeft + el.clientLeft);
          yPos += (el.offsetTop - el.scrollTop + el.clientTop);
        }
        el = el.offsetParent;
      }
      return {
        x: xPos,
        y: yPos
      };
    }
    app.trackPos();
    window.addEventListener("scroll", app.trackPos, false);
    window.addEventListener("resize", app.trackPos, false);
block styles
  link(rel='stylesheet', href='/stylesheets/about.css')
  
