extends layout

block content
  .divider10
  h1.center.title Admin Dashboard
  .divider10
  .divider10

block scripts
  script(src="/javascripts/admin.js")
block styles
  //- link(rel='stylesheet', href='/stylesheets/calendar.css')
