extends layout

block content
  .divider10
  h1.center.title Admin Dashboard
  p(v-if="loading") Loading...
  button(@click="downloadMembers") Click to view member directory
  button(@click="initScanner") Initialize QR scanner
  .scanner
    p Tap camera feed to switch cameras
    p(v-if="scanError") Error: {{ scanError }}
    p(v-if="scanContent") Content: {{ scanContent }}
    video#scanner(@click="switchCameras")
  ul
    li
      h3 First name, Last Name, Email
    li(v-for="member in members")
      p {{ member.firstName }}  ,  {{ member.lastName }}  ,  {{ member.email }}
  .divider10
  .divider10

block scripts
  script(type="text/javascript" src="/javascripts/instascan.min.js")
  script(src="/javascripts/admin.js")
  
block styles
    //- link(rel='stylesheet', href='/stylesheets/calendar.css')
