extends layout

block content
  .divider10
  h1.center.title Admin Dashboard
  p.hpadded.error-message(v-if="apiError != null") API Error! {{ JSON.stringify(apiError) }}
  .maincontainer.hpadded.flexcontainer.wrap
    .hpadded
      button(@click="initScanner") Initialize QR scanner
      .scanner
        p Tap camera feed to switch cameras
        button.hpadded(@click="switchCameras") You can tap here to switch cameras too!
        p(v-if="scanError") Error: {{ scanError }}
        p(v-if="scanContent") Content: {{ scanContent }}
        video#scanner(@click="switchCameras")
      modal(title="Scanned" v-bind:show="scanContent !== null")
        p {{ scanContent }}
        button.hpadded(@click="markAsPaid") Make paying member
        button.hpadded(@click="markAsAttending") Mark attendance
        button.hpadded(@click="scanContent = null") Close
    .hpadded
      h2 Member directory
      button.hpadded(:class="{ themecolor: currentDirectoryName === 'paidMembers' }" @click="selectDirectory('paidMembers')") Paid Members
      button.hpadded(:class="{ themecolor: currentDirectoryName === 'unpaidMembers' }" @click="selectDirectory('unpaidMembers')") Unpaid Members
      button.hpadded(v-show="currentDirectory != null" @click="showEmailsModal = true") Show emails only (for easy copying)
      modal(:show="showEmailsModal" @close-modal="showEmailsModal = false")
        h3 {{ currentDirectoryName }}
        textarea(readonly v-model="emails")
      p(v-if="loading") Loading...
      table(v-if="currentDirectory != null")
        tr
          th Timestamp
          th First name 
          th Last name 
          th Email
        tr(v-for="member in currentDirectory")
          th {{ member.timestamp }}
          th {{ member.firstName }}
          th {{ member.lastName }}
          th {{ member.email }}
  .divider10
    .hpadded
      button.hpadded(@click="getFaqs") Edit FAQs
      .form(v-if="faqs != null")
        textarea(v-model="faqs")
        button.hpadded(@click="submitFaqs") Submit
  .divider10
    .hpadded
      button.hpadded(@click="newBlogPost = 'Insert markdown here.  For now, use imgur or something for your images'") Add blog post
      .form(v-if="newBlogPost != null")
        textarea(v-model="newBlogPost")
        button.hpadded(@click="submitNewBlogPost") Submit
  .divider10

block scripts
  script(type="text/javascript" src="/javascripts/instascan.min.js")
  script(src="/javascripts/admin.js")
  
block styles
    //- link(rel='stylesheet', href='/stylesheets/calendar.css')
