extends layout

block content
  
  .c-container
    .content.flex.main(:class="{ under: show.expandedPost }")
      .divider10
      h1.title The Data Science Blog
      article.mini(v-for="post in posts")
        h2 {{ post.title }}
        p {{ process(post) }} #[a(href='#' @click.stop="expand(post)" v-if="post.long") read more]
        p.by by #[a(href="#"){{ post.author }}] on {{ post.date }}
    
    #fullpost(:class="{ shown: show.expandedPost }" @click="show.expandedPost = false")
      .divider10
      #expanded
        article(v-if="show.expandedPost" @click.stop)
          h2 {{ currentPost.title }}
          p {{ process(currentPost, true) }}
          p.by by #[a(href="#"){{ currentPost.author }}] on {{ currentPost.date }}
  
  
block scripts
  script(src="/javascripts/blog.js")
block styles
  link(rel='stylesheet', href='/stylesheets/blog.css')
