extends layout

block content
  .divider10
  .divider10
  h1 Blog
  .
  article(v-for="post in posts")
    h2 {{ post.title }}
    p {{ post.content }}
    p by {{ post.author }} on {{ post.date }}
  
block scripts
  script(src="/javascripts/blog.js")
