extends layout

block content
  #hero.vcentercontainer
    h1.bottomdivider
      | discover 
      span.accent#buzzword {{ currentBuzzword }}
    button.cta Get Involved
  .maincontainer#end-of-hero
    article.large
      h1 UCSB’s most active coding community.
      p.content.center.large Providing the resources, community, and industry insight to help members learn, create, and share in the realm of Data Science
    .columns
      article
        .vcentercontainer
          include ../public/images/resources.svg
        h2 Resources
        p.content Datacamp.  Workshops.  Data talks.  Books.  A bespoke project sharing platform.  We have something for everyone, from novices to postgrads
      article
        .vcentercontainer
          include ../public/images/experience.svg
        h2 Experience
        p.content Learn by doing.  We have quarterly projects, workshops, member presentations, and more
      article
        .vcentercontainer
          include ../public/images/community.svg
        h2 Community
        p.content We are open, accepting, and eager to help.  Meet people experienced in environments from tech powerhouses to artificial intelligence startups
    .white
      h2.center Join us
      .flexcontainer#join
        article
          p We meet Thursdays at 7 pm in the Collaboratory.  It's on the second floor of UCSB's Davidson library, mountain side.
          p Can't make it to meetings? #[a(target="_blank" href="mailto:datascience.ucsb@gmail.com") Shoot us an email], and we'll work something out
        article.vcentercontainer
          button.cta Register
          p.fineprint There is a $30 annual fee for full membership.  This pays for data talks, food/drink at club events, books, and more
    .divider10
    .divider5
    h2 We'd like to thank
    .flexcontainer.spaced.logos
      include ../public/images/farmers_ins_logo.svg
      include ../public/images/github_logo.svg
      include ../public/images/basecamp_logo.svg
      include ../public/images/datacamp_logo.svg
    .divider5
        
block scripts
  script(src="/javascripts/index.js")
  script.
    function getPosition(el) {
      var xPos = 0;
      var yPos = 0;
      while (el) {
        if (el.tagName == "BODY") {
          // deal with browser quirks with body/window/document and page scroll
          var xScroll = el.scrollLeft || document.documentElement.scrollLeft;
          var yScroll = el.scrollTop || document.documentElement.scrollTop;
          xPos += (el.offsetLeft - xScroll + el.clientLeft);
          yPos += (el.offsetTop - yScroll + el.clientTop);
        } else {
          // for all other non-BODY elements
          xPos += (el.offsetLeft - el.scrollLeft + el.clientLeft);
          yPos += (el.offsetTop - el.scrollTop + el.clientTop);
        }
        el = el.offsetParent;
      }
      return {
        x: xPos,
        y: yPos
      };
    }
    app.trackPos();
    window.addEventListener("scroll", app.trackPos, false);
    window.addEventListener("resize", app.trackPos, false);
block styles
  link(rel='stylesheet', href='/stylesheets/home.css')
