doctype html
html
  head
    title UCSB Data Science
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/gen.css')
    block styles
    link(rel='stylesheet', href='/stylesheets/nav.css')
    meta(name="viewport" content="width=device-width")
  body
    #app
      nav#nav(:class="{ transparent: transparentNav }")
        nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
        .logo.vcentercontainer
          a(href="/") #[h1 Data Science] 
        ul.horizontal.responsivemenu(:class="{ visible: show.mobilenav }")
          nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
          li
            a(href="/events") Events
          li
            a(href="/about") About
          li
            a(href="/people") People
          li
            a(href="/blog") Blog
      
      block content
      
      footer
        .flexcontainer.spaced
          .logo
            h3 Data Science at UCSB
          ul
            li
              h4 Upcoming
            li 
              a(href="/events") Meetings
          ul
            li
              h4 Projects
            li 
              a(href="https://www.inertia7.com/" target="_blank") Inertia7
            li
              a(href="https://github.com/UCSB-dataScience-ProjectGroup/" target="_blank") Github
            li 
              a(href="https://www.datacamp.com/" target="_blank") Datacamp
          ul
            li
              h4 Organization
            li 
              a(href="/about") About
            li 
              a(href="/people") Leadership
            li
              a(href="/blog") Blog
            li
              a(href="") Join
        .center
          p Website by Arthur Silverstein
          p Copyright 2017
    script(src="/javascripts/vue.js")
    script(src="/javascripts/simplecomponents.js")
    block scripts
