doctype html
html
  head
    title UCSB Data Science
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/gen.css')
    
    // Icon stuff
    link(rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png")
    
    // Global Site Tag (gtag.js) for Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-107704515-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-107704515-1');
    
    block styles
    link(rel='stylesheet', href='/stylesheets/nav.css')
    
    meta(name="viewport" content="width=device-width")
  body
    #app
      nav#nav(:class="{ transparent: transparentNav }")
        nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
        .logo.vcentercontainer
          a(href="/") #[h1 Data Science] 
        ul.horizontal.responsivemenu(:class="{ visible: show.mobilenav }")
          nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
          li
            a(href="/events") Events
          li
            a(href="/about") About
          li
            a(href="/people") People
          li
            a(href="/blog") Blog
      
      block content
      
      footer
        .flexcontainer.spaced
          .logo
            h3 Data Science at UCSB
          .column
            h4 Upcoming
            ul
              li 
                a(href="/events") Meetings
          .column
            h4 Projects
            ul
              li 
                a(href="https://www.inertia7.com/" target="_blank") Inertia7
              li
                a(href="https://github.com/UCSB-dataScience-ProjectGroup/" target="_blank") Github
              li 
                a(href="https://www.datacamp.com/" target="_blank") Datacamp
          .column
            h4 Organization
            ul
              li 
                a(href="/about") About
              li 
                a(href="/people") Leadership
              li
                a(href="/blog") Blog
              li
                a(href="https://goo.gl/forms/hGLsyUruyCknGuIT2") Join
        .divider5
        .center
          p.small Website by Arthur Silverstein
          p.small Copyright 2017
    script(src="/javascripts/vue.js")
    script(src="/javascripts/simplecomponents.js")
    block scripts
