doctype html
html
  head
    title UCSB Data Science
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/gen.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    meta(name="viewport" content="width=device-width")
    block styles
  body
    #app
      nav(:class="{ solid: solidNav }")
        nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
        .logo.vcentercontainer
          h1 Data Science
        ul.horizontal.responsivemenu(:class="{ visible: show.mobilenav }")
          nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
          li
            a(href="/about") About
          li
            a(href="/people") People
          li
            a(href="/events") Events
          li
            a(href="/projects") Projects
          li
            a(href="/datatalks") Data Talks
      
      block content
      
      footer
        .flexcontainer.spaced
          .logo
            h3 Data Science at UCSB
          ul
            li
              h4 Upcoming
            li Meetings
            li Socials
            li Data Talks
            li Hackathons
            li Recruitment Sessions
          ul
            li
              h4 Projects
            li Inertia 7
            li Project Showcases
            li Education
          ul
            li
              h4 Organization
            li About
            li Leadership
            li Teams
            li FAQ
            li Join
        .center
          p Website by Arthur Silverstein
          p Copyright 2017
    script(src="/javascripts/vue.js")
    script(src="/javascripts/simplecomponents.js")
    block scripts
