doctype html
html
  head
    title Data Science UCSB
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/gen.css')

    // Icon stuff
    link(rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/images/favicons/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png")

    // Global Site Tag (gtag.js) for Google Analytics
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-107704515-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-107704515-1');

    block styles
    link(rel='stylesheet', href='/stylesheets/nav.css')
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width")
  body
    #app
      nav#nav(:class="{ transparent: transparentNav }")
        nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
        .logo.vcentercontainer
          if loggedIn
            a(href="/profile") #[img(src='/images/logo_white_simple.png')] #[h1 #{user.firstName}]
          else
            a(href="/") #[img(src='/images/logo_white_simple.png')] #[h1 Data Science UCSB]
        ul.horizontal.responsivemenu(:class="{ visible: show.mobilenav }")
          nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/calendar") Calendar
          li
            a(href="/people") People
          li
            a(href="/blog") Blog
          if loggedIn
            li
              a(href="/resources") Resources
          li
            if loggedIn
              a(href="/logout") Log Out
            else
              login(text="Log In")

      block content

      footer
        .flexcontainer.spaced
          .logo
            h3 Data Science UCSB
          .column
            h4 Upcoming
            ul
              li
                a(href="/calendar") Calendar
          .column
            h4 Projects
            ul
              li
                a(href="https://www.inertia7.com/" target="_blank") Inertia7
              li
                a(href="https://github.com/UCSB-dataScience-ProjectGroup/" target="_blank") Github
          .column
            h4 Organization
            ul
              li
                a(href="/about") About
              li
                a(href="/people") People
              li
                a(href="/blog") Blog
              li
                login(text="Join" register="true")
        .divider5
        .center
          p.small Website by Data Science UCSB Engineering Team
          p.small Copyright 2019
    script(src="/javascripts/vue.js")
    script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1")
    script(src="/javascripts/simplecomponents.js")
    block scripts
