extends layout

block content
  .divider5
  h1.title.center Our officer team
  .divider5
  h2.title.center Executive Board
  .divider4
  .tilecontainer
    .tile.vcentercontainer(v-for="officer of executiveOfficers" 
      @click="showDescription(officer)" @mouseover="officer.current = true" 
      @mouseout="if (!showPopupDescription) officer.current = false"
      v-bind:style="{ backgroundImage: 'url('+getOfficerPath(officer.file)+')' }"
      v-bind:class="{ active: officer.current }")
      .tile-label
        h3.center {{ officer.name }}
  .divider10
  h2.title.center Project Group Leaders
  .divider4
  .tilecontainer
    .tile.vcentercontainer(v-for="officer of projectOfficers" 
      @click="showDescription(officer)" @mouseover="officer.current = true" 
      @mouseout="if (!showPopupDescription) officer.current = false"
      v-bind:style="{ backgroundImage: 'url('+getOfficerPath(officer.file)+')' }"
      v-bind:class="{ active: officer.current }")
      .tile-label
        h3.center {{ officer.name }}
  .divider10
  h2.title.center Finance
  .divider4
  .tilecontainer
    .tile.vcentercontainer(v-for="officer of financeOfficers" 
      @click="showDescription(officer)" @mouseover="officer.current = true" 
      @mouseout="if (!showPopupDescription) officer.current = false"
      v-bind:style="{ backgroundImage: 'url('+getOfficerPath(officer.file)+')' }"
      v-bind:class="{ active: officer.current }")
      .tile-label
        h3.center {{ officer.name }}
  .divider10
  h2.title.center Marketing
  .divider4
  .tilecontainer
    .tile.vcentercontainer(v-for="officer of marketingOfficers" 
      @click="showDescription(officer)" @mouseover="officer.current = true" 
      @mouseout="if (!showPopupDescription) officer.current = false"
      v-bind:style="{ backgroundImage: 'url('+getOfficerPath(officer.file)+')' }"
      v-bind:class="{ active: officer.current }")
      .tile-label
        h3.center {{ officer.name }}
  .divider10
  h2.title.center Operations
  .divider4
  .tilecontainer
    .tile.vcentercontainer(v-for="officer of operationsOfficers" 
      @click="showDescription(officer)" @mouseover="officer.current = true" 
      @mouseout="if (!showPopupDescription) officer.current = false"
      v-bind:style="{ backgroundImage: 'url('+getOfficerPath(officer.file)+')' }"
      v-bind:class="{ active: officer.current }")
      .tile-label
        h3.center {{ officer.name }}
  .divider10
  h2.title.center Engineering
  .divider4
  .tilecontainer
    .tile.vcentercontainer(v-for="officer of engineeringOfficers" 
      @click="showDescription(officer)" @mouseover="officer.current = true" 
      @mouseout="if (!showPopupDescription) officer.current = false"
      v-bind:style="{ backgroundImage: 'url('+getOfficerPath(officer.file)+')' }"
      v-bind:class="{ active: officer.current }")
      .tile-label
        h3.center {{ officer.name }}
  .divider10
  // Featured members section.  We have no featured members at the moment
  //- h1.center Featured members
  //- .divider5
  //- .flexcontainer.spaced
  //-   .member(v-for="member of featured")
  //-     h4.center {{ member.name }}
  //- .divider10
  h2.center Special thanks to our alumni contributors
  .divider5
  #alumn.flexcontainer.wrap.fill-h
    .credit
      h3 Jason Freeberg
      p For providing invaluable education opportunities to UCSB students by founding this organization.
    .credit
      h3 Raul Eulogio
      p For countless hours of administrative work, advising, and helping people out with their projects.
    .credit
      h3 David Campos
      p For morale boosts, speeches, and development/maintenance of Inertia7.
  .divider10
  
  transition(name="modal")
    #popupDescription.vcentercontainer(v-show="showPopupDescription")
      #modalBackground(
        @click="showPopupDescription = false; currentOfficer.current = false")
      .content.center
        img.center(v-bind:src="getOfficerPath(currentOfficer.file)")
        .divider5
        h2.center {{ currentOfficer.name }}
        h3.center {{ currentOfficer.position }}
        .flexcontainer.spaced
          a(v-for="(item, type) in currentOfficer.contactinfo" v-bind:href="item" target="_blank") {{ type }}
        p {{ currentOfficer.description }}

block scripts
  script(src="/javascripts/people.js")
block styles
  link(rel='stylesheet', href='/stylesheets/people.css')
