extends layout

block content
  .divider10
  h1.title.center Our officer team
  .divider5
  .tilecontainer
    .tile.vcentercontainer(v-for="officer in officers" 
      @click="showDescription(officer)" @mouseover="officer.current = true" 
      @mouseout="if (!showPopupDescription) officer.current = false"
      v-bind:style="{ backgroundImage: 'url('+getOfficerPath(officer.file)+')' }"
      v-bind:class="{ active: officer.current }")
      .tile-label
        h3.center {{ officer.name }}
  .divider10
  h2.center Special thanks to our alumni contributors
  .divider5
  #alumn.flexcontainer.fill-h
    .credit
      h3 Raul Eulogio
      p For your tireless dedication to UCSB Data Science and Inertia 7
    .credit
      h3 David Lastname
      p For your tireless dedication to UCSB Data Science and Inertia 7
  
  transition(name="modal")
    #popupDescription.vcentercontainer(v-show="showPopupDescription")
      #modalBackground(
        @click="showPopupDescription = false; currentOfficer.current = false")
      .content.center
        h2 {{ currentOfficer.name }}
        h3 {{ currentOfficer.position }}
        p {{ currentOfficer.description }}

block scripts
  script(src="/javascripts/people.js")
block styles
  link(rel='stylesheet', href='/stylesheets/people.css')
