extends layout

block content
  .divider10
  h1.center.title Profile
  .divider10
  .divider10

block scripts
  script(src="/javascripts/profile.js")
block styles
  link(rel='stylesheet', href='/stylesheets/profile.css')
