extends layout

block content
  .divider10
  .divider5
  .maincontainer.widecontainer.center.hpadded
    h1.title Your profile
    .maincontainer.hpadded.purewhite.top-margin.border-box
      h2 #{user.firstName} #{user.lastName}
      .flexcontainer.stack
        .flexcontainer.horizontal.profile-data-row
          p #{user.email}
          p email
        .flexcontainer.horizontal.profile-data-row
          p ••••••••••••••
          p password
        .flexcontainer.horizontal.profile-data-row
          p #{user.lastKnownMajor}
          p major
  .divider10
  .divider10

block scripts
  script(src="/javascripts/profile.js")
block styles
  link(rel='stylesheet', href='/stylesheets/profile.css')
