extends layout

block content
  .divider5
  .alert
      span.closebtn(onclick="this.parentElement.style.display='none';") ×
      |   Note: Some of the information on this page, e.g. DataCamp subscriptions, is outdated. Please #[a(target="_blank" href="mailto:datascience.ucsb@gmail.com") contact us] if you have any questions.
  .divider5
  .divider5
  .resources
    .hpadded 
      h1.title Learning Resources
      p If the Google Doc doesn't load, refresh the page.
    iframe.widecontainer.center(src="https://docs.google.com/document/d/e/2PACX-1vRiLgn2c1Ph2cBNVQPqzNvXKbQYTjGXS_LLrusLbrKkt38loL4PsBved6c4QOO0RUHekSj5oRWqGgRy/pub?embedded=true")
  .divider5
  
block scripts
  script(src="/javascripts/resources.js")
  script.
    var close = document.getElementsByClassName("closebtn");
    var i;

    // Loop through all close buttons
    for (i = 0; i < close.length; i++) {
      // When someone clicks on a close button
      close[i].onclick = function(){

        // Get the parent of <span class="closebtn"> (<div class="alert">)
        var div = this.parentElement;

        // Set the opacity of div to 0 (transparent)
        div.style.opacity = "0";

        // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
        setTimeout(function(){ div.style.display = "none"; }, 600);
      }
    }
block styles
  link(rel='stylesheet', href='/stylesheets/resources.css')
