extends layout

block content
  .divider5
  h1.title We've got your back.
  
block scripts
  script(src="/javascripts/resources.js")
block styles
  link(rel='stylesheet', href='/stylesheets/resources.css')
