extends layout

block content
  .divider5
  .divider5
  .resources
    .hpadded 
      h1.title Learning Resources
      p If the Google Doc doesn't load, refresh the page.
    iframe.widecontainer.center(src="https://docs.google.com/document/d/e/2PACX-1vRiLgn2c1Ph2cBNVQPqzNvXKbQYTjGXS_LLrusLbrKkt38loL4PsBved6c4QOO0RUHekSj5oRWqGgRy/pub?embedded=true")
  .divider5
  
block scripts
  script(src="/javascripts/resources.js")
block styles
  link(rel='stylesheet', href='/stylesheets/resources.css')
