extends layout

block content
  .divider5
  .scaledpadded
    h1 Club Resources
    .divider5
    ul
      li.resource
        img(src="/images/datacamp-sq.png")
        .description
          h2 Free Datacamp subscription
          p Please email us for instructions on activating your Datacamp membership
      li.resource
        img(src="/images/internship.png")
        .description
          h2 Exclusive access to jobs and internships
          p Please join our #jobs_and_internships Slack channel for employment opportunites.  We also have members/alumni at Microsoft, Datacamp, Facebook, and numerous other companies.  Feel free to ask around for interview help, advice, or referrals!
      li.resource
        img(src='/images/aws.jpg')
        .description
          h2 Free AWS credit
          p Eligible projects can receive full reimbursement for related AWS expenses.  Ask an officer at a meeting to learn more!
        

block scripts
  script(src="/javascripts/resources.js")

block styles
  link(rel='stylesheet', href='/stylesheets/resources.css')
