doctype html
html
  head
    title Color Test
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/Test.css')
    meta(name="viewport" content="width=device-width")
  
  body
    p test
