doctype html
html
  head
    title Color Test
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/Test.css')
    meta(name="viewport" content="width=device-width")
  
  body
    #container
      .card
        .colored
          .centercontainer
            h1 Color test
          p Here you can see what light text on #[span.code theme-color] looks like
        .plain
          p Here is a text snippet in #[span.code plain] mode.  Most regular copy will probably look something like this
          .centercontainer
            a.cta Call To Action
            
      .info
        p Flat UI colors
        ul
          li white-color = #ecf0f1
          li white-color-light = #F6FAFB
          li grey-color = #7f8c8d
          li grey-color-light = #bdc3c7
          li black-color = #2c3e50
          li theme-color = #3498db
          li cta-color = #e67e22
          li cta-color-dark = #d35400
