h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
.banner {
  width: 100%;
  height: 25vh;
  min-height: 140px;
  background-image: url("/images/sql_workshop.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.banner .filter {
  width: 100%;
  height: 100%;
  background-color: #314155;
  opacity: 0.2;
}
.flex {
  flex-flow: row wrap;
}
article {
  flex: 1 1 360px;
  max-width: 580px;
  min-width: 360px;
  font-size: 1.1em;
  margin: calc(4vw + 12px);
  border-left: 4px #1476fb solid;
  padding: 4px 16px;
}
#stats {
  font-size: 1.6em;
  flex: 1 1 300px;
  max-width: 100%;
  margin: 16px;
  color: #1476fb;
}
#stats span {
  font-size: 2em;
  margin-right: 8px;
}
#stats img {
  margin-right: 12px;
  fill: #1476fb;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid rgba(0,0,0,0);
  border-right: 8px solid rgba(0,0,0,0);
  border-bottom: 8px solid #314155;
}
#tab-carousel {
  width: 100%;
  margin: 32px 0px;
}
#tab-carousel ul {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-around;
  background-color: #f9fafb;
  margin-bottom: 0;
  padding-bottom: 0;
}
#tab-carousel ul li {
  flex: 0 0 auto;
  color: #314155;
}
#tab-carousel ul li button {
  background: none;
  padding: 8px 16px;
  border: none;
  font-size: 1em;
  color: inherit;
}
#tab-carousel .info {
  background-color: #314155;
  color: #f9fafb;
}
#tab-carousel .info p {
  margin: 0;
  padding: 32px;
}
#tab-carousel .info img {
  width: 100%;
  height: 25vh;
  min-height: 140px;
  object-fit: cover;
}
