h1 {
  font-size: 1.5em;
  padding-left: 5vw;
  opacity: 0.3;
  font-weight: bold;
}
.c-container {
  position: relative;
  padding-bottom: 64px;
  overflow: hidden;
}
.content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s;
}
.content article {
  width: 48rem;
  max-width: 100%;
  padding: 20px;
  margin: 0;
  margin-top: 32px;
  box-sizing: border-box;
  border: 1px rgba(0,0,0,0) solid;
}
.content article h2 {
  font-size: 2em;
  margin: 0;
  cursor: pointer;
}
.content article h2:hover {
  text-decoration: underline;
}
.content article p {
  margin: 0;
  margin-top: 16px;
}
.content article p.by {
  text-align: right;
}
.content article.mini {
  background-color: #fff;
  box-shadow: 0px 0px 32px #ccc;
  border-radius: 4px;
}
.content.under {
  transform: translateX(-160px);
  z-index: -10;
}
#fullpost {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
#fullpost #expanded {
  position: absolute;
  left: 0;
  transform: translateX(640px);
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #fafafa;
  box-shadow: 0px 0px 128px #424242;
  padding: 64px;
  box-sizing: border-box;
  transition: transform 0.5s;
}
#fullpost #expanded article {
  width: 48rem;
  max-width: calc(100vw - 244px);
}
#fullpost:not(.shown) {
  transition: visibility 0s linear 0.5s, opacity 0.5s;
}
#fullpost.shown {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}
#fullpost.shown #expanded {
  transform: translateX(160px);
}
footer {
  z-index: 10;
}
