button.cta {
  background-color: #878787;
  color: #fafafa;
  border: none;
  padding: 12px;
  font-size: 1.1em;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button.cta:hover {
  background-color: #666;
}
#hero {
  height: 80vh;
  color: #fafafa;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-size: 2em;
  transition: width 0.5s;
}
article.large {
  width: 80vw;
  max-width: calc(100% - 32px);
  margin-top: 14vh;
  font-size: 1.2em;
}
article.large h1 {
  margin-bottom: 5vh;
  font-size: 2.5em;
}
article.large p {
  max-width: 640px;
}
.columns {
  margin-top: 14vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1300px;
  padding: 32px;
  box-sizing: border-box;
}
.columns article {
  margin: 16px;
  box-sizing: border-box;
  max-width: 320px;
}
.columns article img {
  width: 100%;
}
#buzzword {
  animation-name: slideout;
  display: inline-block;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 0;
}
#mainexpl {
  padding: 5em 5em;
  background-color: #8f8f8f;
  color: #fafafa;
}
@media (max-width: 35em) {
  h1 {
    font-size: 1.5em;
  }
  #hero {
    height: 100vw;
  }
  #mainexpl {
    padding: 4em 4em;
  }
}
@media (max-width: 900px) {
  .columns {
    flex-direction: column;
    align-items: stretch;
  }
  .columns article {
    width: 100%;
    max-width: none;
  }
}
@-moz-keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
@-webkit-keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
@-o-keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
@keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
