a {
  text-decoration: none;
}
button.cta {
  background-color: #878787;
  color: #fafafa;
  border: none;
  padding: 12px;
  font-size: 1.1em;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button.cta:hover {
  background-color: #666;
}
#hero {
  height: 80vh;
  color: #fafafa;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
}
article {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 64px;
  max-width: calc(100% - 32px);
  font-size: 18px;
}
article h1 {
  margin-bottom: 5vh;
}
article .content {
  max-width: calc(100vw - 32px);
  justify-content: space-between;
}
article .content p,
article .content img {
  max-width: 40%;
}
article .content.center {
  width: 40rem;
}
article .center {
  text-align: center;
}
article .right {
  text-align: right;
}
h1 {
  font-size: 2em;
  transition: width 0.5s;
}
#buzzword {
  animation-name: slideout;
  display: inline-block;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 0;
}
#mainexpl {
  padding: 5em 5em;
  background-color: #8f8f8f;
  color: #fafafa;
}
@media (max-width: 35em) {
  h1 {
    font-size: 1.5em;
  }
  #hero {
    height: 100vw;
  }
  #mainexpl {
    padding: 4em 4em;
  }
}
@-moz-keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
@-webkit-keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
@-o-keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
@keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
