button.cta {
  background-color: #ff6200;
  color: #f9fafb;
  border: none;
  padding: 12px;
  z-index: 1;
  font-size: 1.1em;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button.cta:hover {
  background-color: #666;
}
h2 {
  letter-spacing: 1px;
  font-size: 2em;
}
#hero {
  height: 80vh;
  position: relative;
  color: #f9fafb;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#hero .filter {
  position: absolute;
  opacity: 0.4;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1476fb;
}
h1 {
  font-size: 2em;
  z-index: 1;
  transition: width 0.5s;
}
article.large {
  width: 80vw;
  max-width: calc(100% - 32px);
  margin-top: 10vh;
  font-size: 1.2em;
}
article.large h1 {
  margin-bottom: 7vh;
  font-size: 2.5em;
}
article.large p {
  max-width: 640px;
}
#join {
  margin-top: 16px;
  padding-top: 1vh;
  justify-content: center;
  align-items: center;
}
#join article {
  width: 40%;
  max-width: 350px;
  padding: 0px 24px;
}
.logos {
  width: 100%;
  max-width: 850px;
  padding: 16px;
  box-sizing: border-box;
  margin: 2vh 0;
  flex-wrap: wrap;
}
.logos svg {
  padding: 16px;
  width: 120px;
  fill: #314155 !important;
  opacity: 0.8;
}
.logos svg path {
  fill: #314155 !important;
  opacity: 0.8;
}
.fineprint {
  font-size: 0.8em;
  opacity: 0.6;
}
.white {
  background-color: #fff;
  width: 100%;
  padding: 36px 0px;
}
.columns {
  margin-top: 7vh;
  margin-bottom: 7vh;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1300px;
  padding: 32px;
  box-sizing: border-box;
}
.columns article {
  margin: 24px;
  box-sizing: border-box;
  width: 25%;
  max-width: 300px;
}
.columns article svg {
  width: 75%;
  fill: #314155;
  opacity: 0.8;
}
.columns article p {
  font-size: 1.1em;
}
#buzzword {
  animation-name: slideout;
  display: inline-block;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 0;
}
#mainexpl {
  padding: 5em 5em;
  background-color: #1476fb;
  color: #f9fafb;
}
@media (max-width: 35em) {
  h1 {
    font-size: 1.5em;
  }
  #hero {
    height: 100vw;
  }
  #mainexpl {
    padding: 4em 4em;
  }
}
@media (max-width: 700px) {
  .columns {
    flex-direction: column;
    align-items: stretch;
  }
  .columns article {
    width: 100%;
    max-width: none;
    padding: 4vw;
  }
  .columns article svg {
    width: 60%;
  }
}
@-moz-keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
@-webkit-keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
@-o-keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
@keyframes slideout {
  0% {
    transform: translate(0px, -70px);
    opacity: 0;
  }
  15% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  85% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 70px);
    opacity: 0;
  }
}
