nav {
  width: 100%;
  display: flex;
  position: fixed;
  padding: 0px 16px;
  justify-content: space-between;
  align-items: stretch;
  background-color: #1476fb;
  color: #f9fafb;
  box-sizing: border-box;
  z-index: 10;
  transition: background-color 0.5s;
}
nav a:hover {
  text-decoration: none;
}
nav h1 {
  font-size: 1.3em;
  color: #f9fafb;
  margin: 0;
  padding: 0;
  opacity: 1;
}
nav #hamburger {
  display: none;
}
nav .logo {
  margin: 0px 16px;
}
nav .logo a {
  display: flex;
  align-items: center;
}
nav .logo a img {
  height: 1.3em;
  margin-right: 16px;
}
nav ul {
  display: flex;
  min-width: 75%;
  margin: 0;
  padding: 0;
}
nav ul li {
  flex-grow: 1;
  transition: background-color 0.1s;
}
nav ul li a {
  display: block;
  text-align: center;
  color: inherit;
  padding: 16px 0px;
}
nav ul li:hover {
  background-color: #f9fafb;
  color: #1476fb;
}
nav .centerhelper {
  display: none;
  visibility: hidden;
  text-align: center;
  padding: 16px 0px;
}
nav.transparent {
  background: rgba(0,0,0,0);
}
@media (max-width: 44em) {
  nav #hamburger {
    display: flex;
    padding: 0px 8px;
  }
  nav #hamburger svg {
    display: block;
    fill: #f9fafb;
  }
  nav .centerhelper {
    display: block;
  }
  nav ul.responsivemenu {
    visibility: hidden;
    display: block;
    position: fixed;
    transform: translate(-50px);
    opacity: 0;
    left: 0;
    top: 0;
    min-width: 0;
    background-color: #314155;
    transition: transform 0.2s, opacity 0.1s;
    height: 100vh;
  }
  nav ul.responsivemenu li > a:not(.centerhelper) {
    padding: 16px 48px;
  }
  nav ul.visible {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
