@import colors

button.cta
  background-color: accent-color;
  color: white-color;
  border: none;
  padding: 12px;
  font-size: 1.1em;

.maincontainer
  display: flex
  flex-direction: column
  align-items: center

button.cta:hover
  background-color: accent-dark;

#hero
  height: 80vh
  color: white-color;
  background-image: url('/images/hero.jpg');
  background-size: cover;
  background-attachment: fixed;

h1
  font-size: 2em;
  transition: width 0.5s

article.large
  width: 80vw
  max-width: calc(100% - 32px)
  margin-top: 14vh
  font-size: 1.2em

  h1
    margin-bottom: 5vh
    font-size: 2.5em

  p
    max-width: 640px

.columns
  margin-top: 14vh
  display: flex
  justify-content: space-around
  width: 100%
  max-width: 1300px
  padding: 32px
  box-sizing: border-box

  article
    margin: 16px
    max-width: 320px

    img
      width: 100%

#buzzword
  animation-name: slideout
  display: inline-block;
  animation-duration: 3s
  animation-iteration-count: infinite;
  z-index: 0

#mainexpl
  padding: 5em 5em
  background-color: theme-color
  color: white-color

@media (max-width: 35em)

  h1
    font-size: 1.5em;

  #hero
    height: 100vw;

  #mainexpl
    padding: 4em 4em

@keyframes slideout
    0%  {
      transform: translate(0px, -70px);
      opacity: 0;
    }
    15%   {
            transform: translate(0px, 0px);
            opacity: 1;
          }
    85%   {
            transform: translate(0px, 0px);
            opacity: 1;
          }
    100% {
            transform: translate(0px, 70px);
            opacity: 0;
          }
