@import colors

.modal-backdrop-overlay
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: white-color
  opacity: 1
  z-index: 10

.modal
  z-index: 11
  background-color: pure-white

input.accessCode
  border: none
  font-size: 2.5em
  margin: 32px 8px

button
  width: 100%
