@import colors

ul
  margin-left: 5vw

li.resource
  display: flex
  flex-direction: row
  flex-wrap: wrap
  margin-bottom: 64px

  h2
    margin: 0

  .description
    min-width: 50vw
    max-width: 600px

  img
    width: 160px
    height: 160px
    padding-bottom: 32px
    margin-right: 32px
